
.nav-container-mob {
    height: 50px;
}

.nav-container::after {
    content: '';
    display: table;
    clear: both;
}

.k-logo {
    display: inline-block;
    margin: 5px 0px 0px 30px;
    width: 40px;
    height: 40px;
    border: none;
    text-decoration: none;
    background-color: #f4eef7;
    background-image: url('./../../assets/kews_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.k-nav-title {
    display: inline-block;
    position: absolute;
    top: 0%;
    height: 50px;
    margin: auto 5px;
    text-transform: uppercase;
    font-family: 'VT323', monospace;
    font-size: 2em;
}