
header{
    cursor: default;
    width: 100%;
    position: relative;
    margin: auto auto;
    height: 100vh;
    background-image: url('./../../assets/Landing.png');
}

h1 {
    font-family: 'Quicksand', 'Raleway', sans-serif;
}
h1 span {
    font-family: 'VT323', monospace;
    font-size: 130px;
}

.k-container{
    position: relative;
    top: 100px;
    width: 80%;
    margin: 0px auto;
    padding: 10px 20px;
    background-color: #0a011dbd;
    border-radius: 8px;
}

img {
    width: 100%;
}

.title {
    color: #f4eef7;
    margin: auto 0;
}
.k-description{
    color: #f4eef7d0;
    font-size: 35px;
}

@media only screen and (max-width: 900px) {
    header {
        height: auto;
        background-attachment: fixed;
    }
    .k-container{
        width: 100%;
        top: 0px;
        margin: 0 0;
        padding: 0px 30px;
        background-color: #0a011d54;
        border-radius: 0px;
    }
    .title {
        margin: 50px 0 0 0;
        height: calc(60vh - 50px);
    }
    .title .display-1, .display-1 span {
        font-size: 55px;
    }
    .k-description {
        font-size: 30px;
    }
    .k-pet-container {
        padding-top: 15px;
        padding-bottom: 15px;
        height: calc(40vh - 0px);
    }
    .k-pet {
        position: relative;
        display: block;
        
        margin-right: auto;
        width: 60%;
    }
}