
section{
    width: 80%;
    margin: 20px auto;
    background-color: #0a011dce;
    padding: 20px 26px;
    border-radius: 8px;
}

.k-news-container{
    height: auto;
    margin: 0;
    padding: 20px;
    background-image: url('./../../assets/Landing.png');
    background-attachment: fixed;
}

.k-inner-container{
    position: relative;
    padding-top: 35px;
    top: 0px;
}

.k-item-title {
    color: #f4eef7;
    text-align: justify;
}

.k-item-description {
    color: #f4eef7d0;
    margin-top: 20px;
    text-align: justify;
}

.k-item-img {
    border-radius: 4px;
}

@media only screen and (max-width: 900px) {
    section {
        width: 100%;
    }
}